table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 40px;
}

.headerOfTable {
    background-color: #27292b;
    color: white;
}

.row.even {
    background-color: #faf9f7;
}

.row.odd {
    background-color: #bfb9a6;
}

.cell.left {
    text-transform: capitalize;
    text-align: left;
    padding-right: 20%;
    padding-left: 14%;
}
